:root {
  --point-c1: #222222;
  --point-c2: #fff;
  --mw: 1500px;
  --font-size-lg: 32px;
  --font-size-m: 24px;
  --font-size-s: 16px;
  --font-size-ss: 14px;
}
.mw {
  max-width: 1500px;
}
img {
  width: 100%;
}
/* header top_menu */
.hd > * {
  /* border-left: 1px solid red; */
  max-width: var(--mw);
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.hd {
  /* border: 5px solid red; */
  height: 150px;
  z-index: 900;
}

.hd .top_menu {
  display: flex;
  justify-content: space-between;
}
.top_menu h1 {
  position: relative;
  margin: 2rem;
  left: -5%;
}
.hd .right a::before {
  content: "ㅣ";
}

/* header > nav */
.gnb {
  /* border: 1px solid blue; */
  position: relative;
  display: flex;
  height: calc(100% - 30px);
  margin: auto;
  justify-content: space-between;
  text-align: center;
  width: 60%;
}

.gnb > li {
  /* border: solid 1px green; */

  justify-content: space-between;
  text-align: center;
  font-size: var(--font-size-m);
}
.gnb a {
  display: block;
  padding: 0.5rem;
  white-space: nowrap;
}

.sub {
  border: 1px solid yellow;
  position: absolute;
  font-size: var(--font-size-s);
  display: none;
}
.floating {
  position: fixed;
  right: 30px;
  top: 100px;
  z-index: 1000;
}
.floating li a {
  font-size: 0.8rem;
  text-align: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  padding: 0.35rem;
}

.slide1 {
  width: 100%;
}
.wrap {
  width: 100%;
  height: 100vh;
}
.sec1 .heading1 {
  border: 1px solid red;
  width: 500px;
}

.card_con {
  max-width: var(--mw);
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.card_list {
  width: calc(100% / 5 - 0.5rem);
  position: relative;
  perspective: 900px;

  backdrop-filter: blur(10px);
  border-radius: 1rem;
  padding-top: 17%;
}
.card_list > div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  backface-visibility: hidden;
  transition: 0.5s;
  background-color: #222222;
}
.front img {
  position: absolute;
  width: 100px;
  background-color: #222222;
  /* border: 1px solid red; */
  right: 30%;
  top: 90px;
}
.front p {
  background-color: #222222;
  /* border: 1px solid blue; */
  text-align: center;
}
.front {
  transform: rotateY(0deg);
}
.back p {
  background-color: #222222;
  text-align: left;
}
.back {
  transform: rotateY(-180deg);
}
.card_list:hover > .front {
  transform: rotateY(180deg);
}
.card_list:hover > .back {
  transform: rotateY(0);
}

/* section2 start */
.sec2 {
  margin: 6rem;
}
.sec2 .slide2 {
  /* border: 1px solid red; */
  position: relative;
  width: 40%;
  height: 20%;
  right: -37%;
  margin: 2rem;
}
.sec2 h2 {
  position: relative;
  left: 55%;
  width: var(--mw);
  font-size: var(--font-size-m);
}
.title_txt {
  text-align: right;
  width: 72.5%;
  line-height: 3rem;
}
.sec2_txt {
  position: absolute;
  top: 83vw;
  left: 10%;
}
.type_title {
  line-height: 4rem;
  font-weight: bold;
  font-size: var(--font-size-m);
}
.link1 {
  border: 1px solid red;
  position: relative;
  width: 30px;
}

.type_txt span {
  /* border: 1px solid red; */
  display: block;
}

/* section3 start */
.sec3 {
  margin: auto;
}
.sec3_img a {
  padding: 1rem;
}
.sec3_img {
  position: relative;
  width: 70%;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  margin: 2rem;
  right: -8%;
  top: 70px;
}
.sec3_txt {
  position: absolute;
  top: 99vw;
  left: 9.7%;
}
.sec3_title2 {
  font-size: var(--font-size-m);
  font-weight: bold;
  position: absolute;
  right: 53%;
}
.sec3_title span {
  display: block;
}
.link2 {
  border: 1px solid red;
  position: relative;
  width: 30px;
  right: -47vw;
  bottom: 50px;
}

/* footer */
footer > * {
  /* display: flex;
  justify-content: space-between; */
}
footer::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 60px;
  background-color: #222222;
  left: 0;
}
.foot_top nav a {
  display: inline-block;
  padding-left: 20px;
  position: relative;
  font-size: 0.85rem;
  line-height: 60px;
  background-color: #222222;
  right: -9%;
}
.copy span {
  display: block;
}
.copy2 {
  position: relative;
}
@media (max-width: 1000px) {
  .hd nav {
    display: none;
  }
} ;
