:root {
  --point-c1: #222222;
  --point-c2: #fff;
  --mw: 1500px;
  --font-size-lg: 32px;
  --font-size-m: 24px;
  --font-size-s: 16px;
  --font-size-ss: 14px;
}

/* header top_menu */
.hd > * {
  /* border-left: 1px solid red; */
  max-width: var(--mw);
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.hd {
  /* border: 5px solid red; */
  background-image: url(./img/Sub/sub01.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  z-index: 900;
}

.hd .top_menu {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
}
.top_menu h1 {
  position: relative;
  margin: 2rem;
  left: -7%;
}
.hd .right {
  position: absolute;
  right: -4%;
}
.hd .right a::after {
  content: "ㅣ";
  counter-reset: none;
}
.hd .right a:last-child::after {
  content: "";
}

/* header > nav */
.gnb {
  position: relative;
  display: flex;
  height: calc(100% - 30px);
  margin: auto;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  padding: 0 5rem 0 5rem;
  right: 150px;
}

.gnb > li {
  /* border: solid 1px green; */

  justify-content: space-between;
  text-align: center;
  font-size: var(--font-size-m);
}
.gnb a {
  display: block;
  padding: 0.5rem;
  white-space: nowrap;
  border: 1px solid var(--point-c2);
  border-width: thin;
  width: 350%;
}

.sub {
  border: 1px solid yellow;
  position: absolute;
  font-size: var(--font-size-s);
  display: none;
}

/* section */

.slide_bar {
  content: "";
  position: absolute;
  width: 100%;
  height: 60px;
  background-color: #222222;
  left: 0;
  top: 50%;
}
.slide_bar {
  display: inline-block;
  padding-left: 16px;
  position: relative;
  font-size: 1rem;
  line-height: 60px;
  right: -9%;
}

.sec1 {
  border: 1px solid red;
  position: absolute;
  max-width: var(--mw);
  align-items: center;
}
.work1 {
  text-align: center;
}
.work2 {
  text-align: center;
}
.work3 {
  text-align: center;
}
.work4 {
  text-align: center;
}
.work5 {
  text-align: center;
}

.sec1 img {
  width: 30%;
}
.sec_txt {
}
/* footer */
.foot > * {
  position: relative;
  width: 90%;
  bottom: -120vh;
}
footer::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 60px;
  background-color: var(--point-c1);
  left: 0;
}
.foot_top {
  transform: translateX(9%);
  font-size: var(--font-size-s);
}
.foot_top nav a {
  display: inline-block;
  padding-left: 10px;
  position: relative;
  font-size: 0.85rem;
  line-height: 60px;
  /* background-color: lightslategray; */
  right: -14%;
}
.foot_top nav a::after {
  content: "ㅣ";
  counter-reset: none;
  padding-left: 10px;
}
.foot_top nav a:last-child::after {
  content: "";
}
.copy {
  position: relative;
  /* border: 1px solid red; */
  transform: translateX(-20%);
  text-align: center;
  right: -12vw;
  width: 50%;
  line-height: 2rem;
  padding: 1rem;
}

.copy2 {
  right: -5%;
  width: 30%;
  padding-bottom: 1rem;
}
